In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import numpy as np
import pandas as pd
import os

In [4]:
train = pd.read_csv("data/Train_dataset.csv")
train.head()

,people_ID,Region,Gender,Occupation,Mode_transport,comorbidity,Age,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Farmer,Public,Hypertension,68,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Farmer,Walk,Diabetes,64,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Cleaner,Public,None,19,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Driver,Car,Coronary Heart Disease,33,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Manufacturing,Car,Diabetes,23,3200000.0,1100000,1.0,87.868800

In [5]:
train.shape

(10714, 11)

In [6]:
train_1 = train.dropna()

In [7]:
train_1.shape

(8710, 11)

In [9]:
test = pd.read_csv("data/Test_dataset.csv")
test.head()

,people_ID,Region,Gender,Occupation,Mode_transport,comorbidity,Age,Insurance,salary,FT/month
0,5942,Delhi,Female,Driver,Public,Diabetes,52,3900000,1300000,1
1,18664,Delhi,Male,Legal,Walk,Diabetes,53,1800000,1300000,1
2,5603,Delhi,Female,Sales,Car,Diabetes,35,5000000,2000000,2
3,5649,Delhi,Female,Sales,Car,None,31,3100000,600000,2
4,5099,Delhi,Female,Business,Car,Diabetes,51,2300000,1500000,1

In [10]:
test_1 = test.dropna()
test_1.shape

(14498, 10)

In [11]:
from sklearn import preprocessing
def cleanData(dataframe):
        df2 = dataframe
        df2 = df2.drop(['people_ID','Insurance','salary'], axis = 1)
        le = preprocessing.LabelEncoder()
        df2.Region = le.fit_transform(df2.Region.astype(str))
        df2.Gender = le.fit_transform(df2.Gender.astype(str))
        df2.Occupation = le.fit_transform(df2.Occupation.astype(str))
        df2.Mode_transport = le.fit_transform(df2.Mode_transport.astype(str))
        df2.comorbidity = le.fit_transform(df2.comorbidity.astype(str))
        df2.Region = le.fit_transform(df2.Region)
        df2.Gender = le.fit_transform(df2.Gender)
        df2.Occupation = le.fit_transform(df2.Occupation)
        df2.Mode_transport = le.fit_transform(df2.Mode_transport)
        df2.comorbidity = le.fit_transform(df2.comorbidity)
        return df2

In [12]:
clean_train = cleanData(train_1)
clean_train.head()

,Region,Gender,Occupation,Mode_transport,comorbidity,Age,FT/month,Infect_Prob
0,1,0,4,1,2,68,2.0,49.135010
1,1,0,4,2,1,64,1.0,51.147880
2,1,0,1,1,3,19,1.0,73.224000
3,1,0,3,0,0,33,1.0,48.779225
4,1,0,6,0,1,23,1.0,87.868800

In [13]:
clean_test = cleanData(test_1)

In [14]:
clean_test.columns

Index(['Region', 'Gender', 'Occupation', 'Mode_transport', 'comorbidity',
       'Age', 'FT/month'],
      dtype='object')

In [15]:
x = clean_train.drop(['Infect_Prob'], axis=1)
y = clean_train.Infect_Prob
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [16]:
y.head()

0    49.135010
1    51.147880
2    73.224000
3    48.779225
4    87.868800
Name: Infect_Prob, dtype: float64

In [23]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [18]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [24]:
y_pred= list(rf.predict(X_test))

In [26]:
errors = abs(y_pred - y_test)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 4.43 degrees.

In [27]:
mape = 100 * (errors / y_test)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 91.45 %.

In [32]:
test_data = [[5942,'Delhi','Female','Driver','Public','Diabetes',52,3900000,1300000,1]]
test_dataframe = pd.DataFrame(test_data, columns =['people_ID','Region','Gender','Occupation','Mode_transport','comorbidity','Age','Insurance','salary','FT/month'], dtype = float) 
testData = list(rf.predict(cleanData(test_dataframe)))

In [33]:
print(testData)

[50.45465032897431]

In [34]:
def priority(testData):
    if testData[0] < 30 :
        return 3
    elif 30 < testData[0] < 70 :
        return 2
    else :
        return 1

In [36]:
print("Your priority is :" ,priority(testData))

Your priority is : 2